<?xml version="1.0" encoding="utf-8"?>
<manifest>

     <activity
            android:name="org.zywx.wbpalmstar.plugin.uextimemachine.TimeMachineActivity"
            android:configChanges="keyboardHidden|orientation" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>